.boleto-container {
    width: 539px;
    height: 677px;
    background-color: #D9D9D9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.boleto-header {
    padding-left: 8%;
    padding-right: 7%;
    display: flex;
    width: 539px;
}

.boleto-header img {
    width: 103px;
    height: 157px;
    padding-top: 2%;
}

.pelicula-details {
    width: 205px;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 11%;
}

.pelicula-details {
    text-align: justify;
}

.total-boletos {
    padding-top: 9%;
}

.total-boletos span {
    text-align: center;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.boleto-content {
    width: 539px;
}

.boleto-content img {
    width: 310px;
    height: 310px;
    padding-left: 21%;
    padding-top: 4%;
}

.asientos-contador {
    padding-left: 40%;
    padding-top: 13%;
}

.asientos-contador span {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#titulo {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

#sinopsis {
    text-align: justify;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
}