div {
    width: 738px;
    height: 732px;
    border-radius: 48px;
    border: 4px solid #000;
    background: #fff;
    margin: auto;
    margin-top: 43px;
    margin-bottom: 147px;
}

p {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 354px;
}

input {
    width: 562px;
    height: 52px;
    border-radius: 17px;
    border: 4px solid #000;
    background: #fff;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-left: 88px;
}

input::placeholder {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

button {
    width: 297px;
    height: 58px;
    background-color: #EEC233;
    border-radius: 12px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-left: 221px;
}

#username {
    margin-top: 103px;
}

#password {
    margin-top: 60px;
}

#btn-login {
    margin-top: 119px;
}